// app global css in SCSS form

.bg-whatsapp-primary {
  background-color: #202C33
}
.bg-whatsapp-secondary {
  background-color: #111B21
}


button.without-icon i.q-btn-dropdown__arrow{
  display: none
}